body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

p {
  margin: 0;
}

.header {
  background-color: #3f261a;
  color: #e9deb0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.brand-logo {
  height: 25px;
  width: 25px;
}

.orders {
  grid-area: left-col;
  margin: 15px;
}

.details {
  grid-area: right-col;
  margin: 15px;
}

.checkout {
  grid-area: footer;
}

.content {
  background-color: #eff0f0;
  display: grid;
  grid-template-areas:
    ". left-col right-col ."
    ". footer footer .";
  grid-template-columns: 0.1fr 8fr 8fr 0.1fr;
}

.card {
  background-color: #eee1d5;
  border-radius: 5px;
}

.count {
  grid-area: count;
  justify-items: center;
}

.item-name {
  font-weight: bold;
  grid-area: item-name;
  justify-items: center;
}

.price {
  font-weight: bold;
  grid-area: price;
  justify-items: center;
}

.customizations {
  grid-area: customizations;
  justify-items: center;
  color: #804f20;
}

.card-header {
  padding: 15px;
  color: #804f20;
}

.item {
  display: grid;
  grid-template-areas:
    "count item-name . . price"
    ". customizations . . .";
  grid-template-columns: 0.5fr 6fr 0.5fr 0.5fr 1fr;
  border-bottom: solid 1px #804f20;
  border-width: 80%;
  padding: 15px;
  margin: 15px;
}

.item:last-child {
  border-bottom: none;
}

.input-holder {
  padding: 15px;
}

.custom-input {
  position: relative;
  display: grid;
  margin: 15px;
}

.custom-input-2 {
  position: relative;
  margin: 15px;
}

.example-input {
  border-color: #804f20;
  padding: 8px;
  border-radius: 25px;
  background-color: #eee1d5;
}

.input-label {
  background-color: #eee1d5;
  color: #804f20;
  font-size: 11px;
  position: absolute;
  left: 25px;
  top: -7px;
  padding: 0 2px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bill {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.line {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}

.bold-line {
  font-weight: bold;
}

.payment-button {
  background-color: #deb993;
  display: flex;
  justify-content: center;
  margin-inline: 30px;
  padding: 10px;
  border-radius: 35px;
  margin: 14px;
}
