* {
  box-sizing: border-box;
}

.display {
  grid-area: display;
}

.clear {
  grid-area: clear;
}

.backspace {
  grid-area: backspace;
}

.divide {
  grid-area: divide;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.multiply {
  grid-area: multiply;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.subtract {
  grid-area: subtract;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.add {
  grid-area: add;
}

.zero {
  grid-area: zero;
}

.eval {
  grid-area: eval;
}

.calculator {
  display: grid;
  grid-template-areas:
    "display display display display"
    "clear clear backspace divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero zero eval";
  justify-content: center;
  align-content: center;
  align-items: center;
}

.number {
  background-color: black;
  color: lawngreen;
  padding: 25px;
  border: solid 0.1px grey;
}

.number:hover {
  color: black;
  background-color: lawngreen;
}

.operation {
  background-color: lawngreen;
  color: black;
  padding: 25px;
  border: solid 0.1px grey;
}

.operation:hover {
  color: lawngreen;
  background-color: black;
}

.display-value {
  background-color: black;
  color: limegreen;
  height: 71px;
  width: 242px;
}
