.brand-header {
  grid-area: "header";
}

.nav-links {
  grid-area: "navbar";
}

.brand {
  display: grid;
  justify-content: center;
  font-family: serif;
  font-size: 70px;
  font-weight: 300;
  margin: 25px;
  padding: 25px;
  padding-top: 50px;
  padding-bottom: 0;
}

.nav-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  border: solid 3px black;
  justify-items: center;
  padding: 25px;
  margin: 30px;
  margin-bottom: 0px;
}

.section-link {
  color: gray;
  font-size: 30px;
  font-family: system-ui;
  text-decoration: none;
  font-weight: bold;
}

.section-link:hover {
  text-decoration: underline;
}

.story-1 {
  grid-area: art-1;
  border: solid 3px black;
  border-top: 0px;
}

.story-2 {
  grid-area: art-2;
  border-bottom: solid 3px black;
  border-top: 0px;
}

.story-3 {
  grid-area: art-3;
  border: solid 3px black;
  border-top: 0px;
}

.story-4 {
  grid-area: art-4;
  border: solid 3px black;
  border-top: 0px;
}

.story-5 {
  grid-area: art-5;
  border: solid 3px black;
  border-top: 0px;
  border-left: 0px;
}

.story {
  margin: 30px;
  margin-top: 0px;

  display: grid;
  grid-template-areas:
    "art-1 art-2 art-3"
    "art-4 art-5 art-5";
}

.str {
  padding: 25px;
  display: grid;
  justify-items: center;
}

.article-img {
  height: 250px;
  width: 250px;
  padding: 5px;
}

.article-title {
  font-style: italic;
  font-weight: lighter;
  font-size: 30px;
  margin: 0;
}

.article-text {
  margin: 0;
}
